# UV package manager
.uv/
uv.lock

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Pybind specific
*.so

