annotated-types==0.7.0
black==25.1.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
coverage==7.7.1
-e file:///Users/mxs/Code/kiln/eth-validator-watcher
freezegun==1.5.1
idna==3.10
iniconfig==2.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.6.0
multidict==6.2.0
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
prometheus-client==0.21.1
propcache==0.3.0
pybind11==2.13.6
pydantic==2.10.6
pydantic-core==2.27.2
pydantic-settings==2.8.1
pydantic-yaml==1.4.0
pygments==2.19.1
pytest==8.3.5
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyyaml==6.0.2
requests==2.32.3
requests-mock==1.12.1
rich==13.9.4
ruamel-yaml==0.18.10
shellingham==1.5.4
six==1.17.0
slack-sdk==3.35.0
tenacity==9.0.0
typer==0.15.2
typing-extensions==4.12.2
urllib3==2.3.0
vcrpy==7.0.0
wrapt==1.17.2
yarl==1.18.3
