name: Docker

on:
  push:
    branches: [ "main" ]
    paths:
      - 'eth_validator_watcher/*.py'
      - 'Dockerfile'
      - 'liveness_check.py'
      - 'pyproject.toml'
      - ".github/workflows/docker.yaml"
    tags:
      - "v*"
  pull_request:
    branches:  ["main"]
    paths:
      - 'eth_validator_watcher/*.py'
      - 'Dockerfile'
      - 'liveness_check.py'
      - 'pyproject.toml'
      - ".github/workflows/docker.yaml"

permissions:
  contents: read
  packages: write

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      - name: "git:checkout"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: "docker:meta"
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: latest=true
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
      - name: "docker:login:ghcr.io"
        if: github.ref_type == 'tag'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: "docker:buildx"
        uses: docker/setup-buildx-action@v2
      - name: "docker:build-push"
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: ${{ github.ref_type == 'tag' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
